@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}
::-webkit-scrollbar {
  display: none;
}
:root {
  --dark-bg: rgba(8, 6, 85, 0.733);
  --spacing: 350px;
  border-radius: 2rem;
  font-family: "PT Sans", Calibri, Tahoma, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3,
blockquote {
  font-family: Cursive;
  font-weight: 500;
  display: inline-block;
  line-height: 5rem;
  font-style: normal;
}
section > h2 {
  margin-bottom: 10px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  border-radius: 30px;
  text-align: center;
  margin-bottom: var(--spacing);
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 30px;
  margin-bottom: var(--spacing);
  /* border: 2px solid greenyellow 50%; */
  position: relative;
}
section > a:after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  bottom: 20px;
  right: 20px;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  border: 5px solid springgreen;
  border-top: none;
  border-left: none;
  transform: rotateZ(0deg);
}
.hr {
  background-color: springgreen;
  width: 100px;
  height: 5px;
}
.image {
  margin-bottom: 100;
}
.image > img {
  padding: 0;
}

.back {
  background: var(--dark-bg);
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}
.content {
  margin-bottom: 100px;
}
blockquote p {
  color: rgb(16, 5, 42);
  background-color: rgba(0, 255, 128, 0.822);
  font-size: 3.5rem;
  display: inline;
  line-height: 1.4;
  border-radius: 10px;
  padding: 10px;
}

.left {
  grid-column: 6 / 12;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: None;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: "";
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: var(--dark-bg);
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: blue;
  color: white;
}

.tag:hover::after {
  border-left-color: blue;
}

#gallery {
  transition: 0.1s linear;
}

h2 > a {
  text-decoration: none;
  color: white;
}

h2 > a:hover {
  color: blue;
}

.emoji {
  font-family: "Segoe UI Emoji";
  color: None;
}

.theEnd {
  display: grid;
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
}

.theEnd .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container .col-thanks {
  color: rgb(16, 5, 42);
  background-color: rgba(0, 255, 128, 0.65);
  font-size: 3rem;
  border-radius: 50px;

  padding: 10px;
}

/* Adding some animation to the emojis */

#heart {
  display: inline-block;
  animation: heartbeat ease-in-out 300ms alternate infinite;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

#trophy {
  display: inline-block;
  animation: trophy ease-in-out 3s alternate infinite;
}
@keyframes trophy {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.4) rotateZ(360deg);
  }
  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}

#car {
  display: inline-block;
  /* offset-path: path("M20,20 C20,100 200,0 200,100"); */
  offset-path: path("M500,40 L350,40 L330,10 L50,10 L12,40 L10,40");
  animation: car linear 7s infinite;
  transform: rotateZ(180deg);
  left: 100px;
  top: 100px;
}

@keyframes car {
  0% {
    offset-distance: 0%;
    transform: rotateX(180deg);
  }
  5% {
    offset-distance: 0%;
  }
  25% {
    offset-distance: 0%;
  }
  50% {
    offset-distance: 100%;
    /* transform: rotateZ(180deg); */
    transform: rotateX(180deg);
  }
  70% {
    offset-distance: 100%;
  }
  75% {
    offset-distance: 0%;
  }
  85% {
    offset-distance: 0%;
    transform: rotateX(180deg);
  }
  100% {
    offset-distance: 0%;
    /* transform: rotateX(180deg); */
  }
}

#astro {
  display: inline-block;

  animation: astro ease-in-out 3s infinite;
}

@keyframes astro {
  0% {
    transform: translateY(10px);
  }
  35% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(10px);
  }
}
